{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark-pink shadow-sm sticky-top justify-content-center">
    <div class="contain er">
        <a class="navbar-brand fw-bold text-primary" href="{% url 'tela_comecar' %}">
            <img src="{% static 'images/MaryCats_Branco.png' %}" alt="Logo" class="me-2 logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
